src/main/resources/map/storyboard.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">


    <xs:element name="storyboard">
    	<xs:complexType>
    		<xs:sequence>
    			<xs:element name="routes" type="xs:string"></xs:element>
    			<xs:element name="scenario" type="xs:string"></xs:element>
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>
</xs:schema>